{% extends 'base.html.twig' %}

{% block title %}Solution - Free Responsive Agency Template using Bootstrap 4{% endblock %}

{% block body %}
   <div class="container text-center">
       <h1 class="mt-4 mb-4"> We promise to bring the best <span>solution</span> for your business. </h1>
       <image src="{{ asset('build/images/learn-img.jpg') }}"  class="img-fluid"></image>
        <p class="lead mt-4"> Lorem ipsum dolor sit amet, consctetur adipiscing elit. In rhoncus turpis nisl. </p>
   </div>
{% endblock %}
