{% extends 'base.html.twig' %}

{% block title %}Solution - Free Responsive Agency Template using Bootstrap 4{% endblock %}

{% block body %}
   <div class="container text-center">
       <h1 class="mt-5"> We promise to bring the best <span>solution</span> for your business. </h1>
        <image src="{{ asset('build/images/learn-img.jpg') }}"  class="img-fluid imageSpacing">
        <p class="lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rhoncus turpis nisl. </p>
   </div>
{% endblock %}
