{% extends 'adminbase.html.twig' %}

{% block title %}Admin Menu{% endblock %}

{% block body %}

<div class="container">
    <div class="page-header text-center mt-3 mb-4">
        <h1>Admin Menu</h1>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="jumbotron">
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('admin_services') }}">
                        Services
                    </a>
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="jumbotron">
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('admin_posts') }}">
                        Posts and News
                    </a>
                </p>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="jumbotron">
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('admin_stats_view') }}">
                        Statistiques
                    </a>
                </p>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="jumbotron">
                <p>
                    <a class="btn btn-primary btn-lg" href="{{ path('admin_comments_view') }}">
                        Guestbook
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
