{% extends 'admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<div class="container">
    <h2 class="mt-2 mb-4">Services</h2>
    <div class="list-group mb-4">
        {% for service in services %}
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ service.title }}</h5>
                    <p class="text-muted"{{ service.text }}></p>
                </div>
                <p class="mb-1">{{ service.text }}</p>

        {% endfor %}
    </div>
</div>
{% endblock %}
