{% extends 'base.html.twig' %}

{% block title %}Statistiques{% endblock %}

{% block body %}

<div class="container">
    <div class="page-header text-center mt-3 mb-4"><h1>Statistiques</h1></div>
    <div class="list-group mb-4">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom</th>
                <th scope="col">Quantité</th>
                <th scope="col">Modifier</th>
            </tr>
            </thead>
        {% for stat in stats %}
                <tr class="">
                    <td >{{ stat.id }}</td>
                    <td>{{ stat.title }}</td>
                    <td>{{ stat.quantity }}</td>
                    <td><a href="{{ path('admin_stat_edit', {'id': stat.id }) }}" class="link-warning">Modifier</a></td>
                </tr>
        {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
